/* 
---------------------------------------------- MAIN > CONTACTS
*/

#contact {
    form {
        display: block;

        * {
            width: 100%;
        }

        button {
            background-color: var(--gray);
            cursor: hand;
        }

        button:hover {
            background-color: var(--dark-gray);
        }
    }
}