/* 
---------------------------------------------- MAIN > CONTACTS
*/
@use "base" as *;

#contact {
    form {
        display: block;

        * {
            width: 100%;
        }

        button {
            background-color: $clr-lightgray;
            cursor: hand;
        }

        button:hover {
            background-color: $clr-darkbluegray;
        }
    }
}