/* 
---------------------------------------------- HEADER
*/
@use "base" as *;

header {
    background-color: white;
    background: rgba(255, 255, 255, 0.701);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    z-index: 99;
}

.mycontacts {
    a {
        text-decoration-style: dotted;
    }
}

/* 
---------------------------------------------- NAVIGATION
*/

nav {
    border-radius: 1rem;
    background-color: $clr-lightgray;
    color: white;

    a {
        margin: 0 2rem;
        text-decoration: none;
        color: white;
        padding: 0 1rem;
        font-weight: 300;

        &:hover {
            border-radius: 1rem;
            background-color: $clr-darkbluegray;
            // font-weight: 500;
            color: white;
        }
    }
}