* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;

}

:root {
    --dark-gray: #050505de;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
    /* background-color: var(--dark-gray); */
}

/* 
---------------------------------------------- HEADER
*/

.mypicture {}

.mypicture__id {
    width: 150px;
}




/* 
---------------------------------------------- NAVIGATION
*/

nav {
    border-radius: 1rem;
    /* background-color: var(--dark-gray); */
    margin-top: 1rem;
}

nav a {
    margin: 0 2rem;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: darkred;
    color: white;
}

/* 
---------------------------------------------- MAIN
*/

main {
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
}

main section {
    /* max-width: 70rem; */
    /* padding: 1rem; */
    /* margin-bottom: 2rem; */
    scroll-margin-top: 13rem;
    /* background-color: white; */
    margin: 1rem;
    /* border-radius: 1rem; */
    box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.145);
}

main section> :not(h3) {
    padding: 1rem 3rem;
    /* line-height: 1.5em; */
}

main section h3 {
    background-color: var(--dark-gray);
    color: white;
    padding: .5rem 1rem;
    border-radius: 5px;
    /* box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2); */
}

main p {
    line-height: 2;
}

/* 
---------------------------------------------- MAIN > SKILLS
*/

.skills-grid {
    display: flex;
    /* min-height: 3rem; */
    width: auto;
    list-style: none;
    justify-content: center;
    gap: 1rem;
    grid-auto-flow: column;
    margin-top: 1rem;
    transform: translateY(-3px);
    flex-wrap: wrap;
}

.skills-grid li {
    box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.038);
    border-radius: 1rem;
    border-color: red;

    min-width: 8rem;
    /* max-width: 10rem; */
    min-height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform;

}

.skills-grid li:hover {
    transform: translateY(-4px);
}